* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../assets/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
    
}

#topo {
    /* border: 1px solid red; */
    height: 150px;
    background: url(../assets/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../assets/logo.png)no-repeat center;
    text-indent: -3000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../assets/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos {
    color: white;
    background: #de003e;
    cursor: text;
}

/* Configura layout de três colunas */

#conteudo {
    margin-top: 60px;
    background: #e7e7e7;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#tres-colunas #primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}

#duas-colunas #primario {
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}

#uma-coluna #primario {
    width: 750px;
    float: left;
    margin: 0 0 20px 0px;
    background: blue;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    background: green;
}

/* Caixa */

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #e2e2e2 url(../assets/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: white;
    padding: 5px;
}

.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* Formatar menus laterais */

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #e2e2e2;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../assets/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

/* Formatar formulários */

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    font-size: 0.9em;
    width: 125px;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 5px;
}

/* Rodapé */

#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}